.card {
  height: 100%;
}

.bannerImage {
  height: 160px;
  object-fit: cover;
}

.thumbnail {
  border: 5px solid #fff;
  margin-top: -6rem;
}

.message {
  font-size: 1.25rem;
  font-weight: semibold;
}
