// Full list of variables found at
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Color System

$orange: #ffaa00;
$red: #f53d5c;
$purple: #4a148c;

$primary: $purple;
$primary-dark: #2b0845;

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 5
);

// Grid Breakpoints

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1048px
);

// Typography

$font-family-sans-serif: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
  sans-serif;

$font-weight-bold: 500;

// Buttons + Forms

$input-focus-border-color: $primary-dark;
$input-btn-focus-color: #4a148c40;

// Navs

$nav-link-padding-y: 2rem;
$nav-link-padding-x: 2rem;

// Navbar

$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 2rem;

// Cards

$card-border-width: 0;
$card-border-radius: 0.5rem;
