@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
@import 'custom.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import 'bootstrap-overrides.scss';

html {
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: $primary;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thumbnail {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;

  &.thumbnail-sm {
    height: 2rem;
    width: 2rem;
  }
  &.thumbnail-md {
    height: 2.6rem;
    width: 2.6rem;
  }

  &.thumbnail-lg {
    height: 5rem;
    width: 5rem;
  }

  &.thumbnail-xl {
    height: 10rem;
    width: 10rem;
  }

  &:not(:first-child) {
    margin-left: 1rem;
  }
}

.text-red {
  color: $red;
}

.text-purple {
  color: $purple;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.text-body {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.text-emphasis {
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.text-small {
  font-size: 0.75rem;
}

.bg-gray {
  background-color: #f9fafa !important;
}

.bg-purple {
  background-color: $purple !important;
  color: white;
}

.card-body.card-body-sm {
  padding: 1.5rem;
}

.btn-link {
  text-decoration: none;
}

.large-line-height {
  line-height: 1.5em;
}
