@import '../styles/custom.scss';

.footer {
  background-color: $primary-color;
  color: #fff;
}

.footer a {
  color: rgba(255, 255, 255, 0.55);
  display: block;
  padding: 0.25rem 0.5rem;
  margin-left: -0.5rem;
}

.footer a:hover {
  color: #fff;
}
