.quoteBackground {
  align-items: center;
  background-size: cover;
  background-image: url('/img/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  padding: 4rem;
}

.programsCardImage {
  height: 10rem;
  object-fit: cover;
}
