.quoteBackground {
  align-items: center;
  background-size: cover;
  background-image: url('/patterns/Patternspattern4.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  padding: 8rem;
  margin-left: -50px;
  margin-right: -50px;
}

.programsCardImage {
  height: 10rem;
  object-fit: cover;
}
