.selector {
  padding: 1rem 0;
  text-align: center;
}

.selectorItemContainer {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
}

.selectorItem {
  background-color: #73778c;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  height: 0.75rem;
  margin: 0 0.25rem;
  opacity: 0.3;
  width: 0.75rem;
}

.selectorItemActive {
  background-color: #454854;
  opacity: 1;
}
