.testimonials {
  overflow-x: hidden;
}

.track {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: flex;
  padding: 2rem;
  will-change: transform;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.card {
  height: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 400px;
}

.bannerImage {
  height: 160px;
  object-fit: cover;
}

.thumbnail {
  border: 5px solid #fff;
  margin-top: -6rem;
}

.message {
  font-size: 1.25rem;
  font-weight: semibold;
}
