// Full list of variables found at
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Color System

$primary-color: #4a148c;

$primary-color-dark: #2b0845;

// Grid Breakpoints

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1048px,
  xxl: 1048px,
);

// Typography

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Buttons + Forms

$input-focus-border-color: $primary-color-dark;
$input-btn-focus-color: #4a148c40;

// Navs

$nav-link-padding-y: 2rem;
$nav-link-padding-x: 2rem;

// Navbar

$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 2rem;
