// Full list of variables found at
// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

// Color System

$primary-color: #570f8a;

// Typography

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Navs

$nav-link-padding-y: 2rem;
$nav-link-padding-x: 2rem;

// Navbar

$navbar-padding-y: 0;
$navbar-nav-link-padding-x: 2rem;
