@import 'custom.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import 'bootstrap-overrides.scss';

html {
  text-rendering: optimizelegibility;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
